ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
}

#navBar ul li {
	display: inline-block;
	padding: 15px;
	padding-top: 1px;
	width: 50%
	margin: 0 auto;
}

#navBar a {
	color: black;
}

body {
	background-image: url("../images/above-the-clouds.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#head {
	margin-top: 200px;
}

.mainName {
	font-family: 'Quicksand', sans-serif;
	font-size: 100px;
	font-weight: 100;
	margin: 0;
	text-align: center;
}

.contactDeets, #navBar {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	margin: 0;
	/*display: inline-block;*/
	text-align: center;
}

#navBar {
	font-size: 25px;
}

.links {
	text-align: center;
	margin-top: 250px;
}

.links li {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	display: inline-block;
	margin: 0 auto;
}

#education {
	float: left;
}

.clear {
	clear: both;
}

/*.columns {
	padding: 2em;
}
*/

#rcolm, #lcolm {
	width: 75%
	margin: 0 auto;
	padding: 15px 25px;
	/*float: left;*/
	display: inline-block;
}


/** {
	border: solid black 1px;
}
*/

#rcolm {
	padding-top: 55px;
}

#center {
	width: 50%;
	margin: 0 auto;
}

#uni {
	padding-bottom: 35px;
}

/*body {
	font-family: 'Raleway', sans-serif;
	color: black;
	background-color: black;
}*/

/*section {
	padding: 2em;

}*/

#education, #employment {
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
}

#education {
	width: 100%;
}

#employment, .columns {
	width: 75%;
	margin: 0 auto;
}

#employment {
	background-color:rgba(255,255,255,0.5);
}

.bold {
	font-family: 'Raleway', sans-serif, 
	font-weight: bolder;
	border: solid, black, 2px;
}

#edtitle {
	margin-left: -25px;
}

/*font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Yantramanav', sans-serif;
font-family: 'Heebo', sans-serif;*/

@media screen and (max-width: 760px) {
			.mainName {
				font-size: 75px
			}
		}